<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Cookin</title>
</head>

<body>
      <div>
    <header>
        <h1>
            <a href="/">Get Cookin</a>
        </h1>
        <nav>
          <a href="/dashboard">dashboard</a>
          <button id="logout">logout</button>
          <a href="/login">login</a>
        </nav>    
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      &copy; Get Cookin
    </footer>
  </div>
</body>

</html>