<div id="fh5co-product">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Recipes</h2>
                <p class="mt-40">
                    <a href="/dashboard/new" class="btn btn-primary btn-outline btn-lg">Add a Recipe</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
            {{#each recipes as |recipe|}}
            {{> my-recipe-info recipe }}
            {{/each}}
            </div>
            <div class="col-md-4 text-center animate-box">
                <a href="edit.html">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(images/chocolate_molten_cake.jpg);">
                            <div class="inner">
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="edit.html"></a>Chocolate Molten Cake</a></h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>