<aside id="fh5co-hero">
    <div class="hero-banner jumbotron jumbotron-fluid">
        <video autoplay muted loop>    
            <source src="" data-src="images/Veggie_HD.mov" type="video/mp4">
            </video>
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id ligula eget nibh luctus
                        interdum. Cras eu sem in turpis posuere aliquet et at est.</p>
                        <hr>
                    <p>Integer semper vestibulum
                        urna at accumsan.</p>
                    <h2<a href="#" class="btn btn-primary btn-outline btn-lg">Let's Cookin</a></h2>
                </div>

            </div>
        </div>
    </div>
</aside>

<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/Appetizers">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-appetizer"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Appetizers</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/Breakfast">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-fried-egg"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Breakfast</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/MainCourse">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-boiled"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Main Course</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 text-center">
                <a href="/recipes/category/Dessert">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="flaticon-piece-of-cake"></i>
                        </span>
                        <h3 class="btn btn-primary btn-outline">Dessert</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Featured Recipes</h2>
            </div>
        </div>
        <div class="row">
            {{#each recipes as |recipe|}}
            {{> recipe-info recipe }}
            {{/each}}
        </div>
    </div>
</div>
